body {
    background-color: rgb(247, 213, 234);
    color: white;
}

.author {
    font-size: 90px;
    color: whitesmoke;
}

.section-title {
    font-size: 60px;
    color: green;
}

.project {
    border: 1px solid white;
}
