html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: rgb(247, 213, 234);
    color: rgb(255, 255, 255);
    border: 30px solid rgb(255, 255, 255);
    /*margin: 30px; */
}

.author {
    font-size: 90px;
    color: rgb(245, 245, 245);
}

.author:hover {
    font-size: 95px;
    cursor: vertical-text;

}

.section-title {
    font-size: 60px;
    color: rgb(0, 128, 0);
}

/*Projects Section*/
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.project {
    border: 1px solid white;
    background-color: rgb(231, 120, 194);
    padding-left: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.project-title {
    font-size: 30px;
    color: rgb(7, 83, 7);
}

.project p {
    font-size: 20px;
}

.project a {
    color: green;
    font-weight: bold;
    text-decoration: none;

}

.project a:hover {
    font-weight: normal;
    border-top: 10px dotted yellow;

}
